<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>RegisterApp</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.RegisterApp</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterApp</servlet-name>
    <url-pattern>/app/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterTarget</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.RegisterTarget</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterTarget</servlet-name>
    <url-pattern>/target/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.SendMessage</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/target/send</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gitle_Messaging.jsp</welcome-file>
  </welcome-file-list>
  
  

</web-app>
