<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>RestApp</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.RestApp</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RestApp</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RestApp</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestTarget</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.RestTarget</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RestTarget</servlet-name>
    <url-pattern>/target</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RestTarget</servlet-name>
    <url-pattern>/target/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestSend</servlet-name>
    <servlet-class>no.gitlestadit.gitlemessaging.server.RestSend</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RestSend</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gitle_Messaging.jsp</welcome-file>
  </welcome-file-list>
  
  

</web-app>
